{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chanllenge Roulette</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}" defer></script>

</head>

<body>
    {% block content %}
    <h1 class='site-title'>Challenge Roulette</h1>
    <h2 class='site-description'>Select a game, then add a challenge with the input, or get a randomized challenge by clicking the "Challenge Me!" button</h2>

    <form>
        <label for='game-selector'>Choose a game:</label>
        <select name='game' id='game-selector'>
            <option value=''>Choose a game</option>
            {% for game in games %}
            <option value='{{game.name}}'>{{game.name}}</option>
            {% endfor %}
        </select>

        <p>Create a challenge</p>
        <input type='text' id='name-input' minlength='3' maxlength='50' placeholder="Challenge name">
        <input type='text' id='description-input' max_length='200' placeholder="Challenge description (optional)">
        <input type='text' id='person-input' max_length='20' placeholder="Your name">
        <button type='submit' id='challenge-submit'>Submit Challenge</button>
    </form>

    <button type='button' class='challenge-me-button' id='challenge-me-button'>Challenge Me!</button>

    <div class='visibility-hidden challenge-field' id='challenge-container'>
        <p class='challenge-name' id='challenge-name'></p>
        <p class='challenge-description' id='challenge-description'></p>
    </div>

    {% for game in games %}
    <h3 class='display-none' id='{{game.name}}-challenge-title'>{{game.name}} Challenges</h3>
    <div class='challenge-field display-none' id='{{game.name}}-challenge-field'>
        {% for challenge in challenges %}
        {% if challenge.game.name == game.name %}
        <div>
            <p>{{challenge.name}}</p>
            {% if challenge.description != "" %}
            <p>{{challenge.description}}</p>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    {% endblock content %}
</body>

</html>