* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.site-title {
    text-align: center;
}

.site-description {
    text-align: center;
}

.challenge-me-button {
    margin: auto;
    /* width: 200px; */
    display: block;
    font-size: 2rem;
    padding: 5px;
}

.challenge-name {
    border-bottom: 2px solid;
}

/* .challenge-description {
    border: solid 2px;
} */

.challenge-field {
    border: solid 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.visibility-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.validation-failed {
    border-color: red;
}